MONGO_URI=mongodb://127.0.0.1:27017/dept-math
PORT=5000
JWT_SECRET=change_this_secret

# Cloudinary (pour stocker les PDFs uploadés)
# Récupère ces valeurs dans ton dashboard Cloudinary: Settings > API keys
CLOUDINARY_CLOUD_NAME=dqwz2talv
CLOUDINARY_API_KEY=887991222588226
CLOUDINARY_API_SECRET=HZDAfS7Cb3nb76aPg7HYtEDKnZg
# Option alternative (recommandée sur Render): URL complète Cloudinary
# CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
